<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<meta name="description" content="Bigdive Master Program Visualized">
<meta name="keywords" content="big, data, bigdive, javascript, d3, machine learning">
<meta name="author" content="Fabio Franchino">
<meta name="google" content="notranslate" />

<meta name="viewport" content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0' />

<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="mobile-web-app-capable" content="yes" /> 
<meta name="apple-mobile-web-app-title" content="Bigdive Viz">
<meta name="format-detection" content="telephone=no">