<!-- process:template
  
<meta property="og:title" content="Big Dive Visualized">
<meta property="og:type" content="website">
<meta property="og:url" content="<%= env.url %>">
<meta property="og:image" content="<%= env.url %>/assets/social.png">
<meta property="og:site_name" content="Big Dive">
<meta property="og:description" content="BIG DIVE is the training program designed to boost the technical skills you need to dive into the Big Data universe">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@bigdive_eu">
<meta name="twitter:creator" content="@fabiofranchino">
<meta name="twitter:url" content="<%= env.url %>">
<meta name="twitter:title" content="Big Dive Visualized">
<meta name="twitter:description" content="BIG DIVE is the training program designed to boost the technical skills you need to dive into the Big Data universe">
<meta name="twitter:image:src" content="<%= env.url %>/assets/social.png">

/process -->
